<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api </title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
   <!-- <link rel="stylesheet" th:href="@{/css/index.css}"> -->
</head>
<body>
<header>
    <h1>Api  Fondo de bikini</h1>
    <nav class="menu">
        <ul>
            <li><a th:href="@{${doc}}">Documentacion</a></li>
            <li><a href="/" >Pagina principal</a></li>
        </ul>
    </nav>
</header>
<main>
    <section>
        <h2>Documentacion</h2>
        <p>
          Casi todas las entidades tienen las mismas operaciones C.R.U.D osea se puede tanto eliminar,añadir
            ,actualizar y leer(acceder) hay otras consultas "especiales"q que se pueden hacer en algunas entidades
        </p>
       <p>
           Normalmente consisten de esta sintaxis: <span class="marcado" th:text=${api}> </span>
       </p>
        <h3>Navegar paginas </h3>
        <p>Todos los elementos estan separados por diferentes paginas osea por cada JSON hay 5 elementos, para
        navegar se utiliza esta sintaxis: <span class="marcado" th:text=${pag}></span> </p>

    </section>
    <section>
        <h2><a th:href="@{${personajes}}">Personajes</a></h2>
        <p>Aqui contiene la ruta: <span class="marcado" th:text=${personaje_id}></span> donde se podra hacer las funciones crud como:<p/>
        <ul>
            <li>GET(Obtener)</li>
            <li>POST(Añadir)</li>
            <li>PUT(Actualizar)</li>
            <li>DELETE(eliminar)</li>
        </ul>
        <h2> Personaje Tabla</h2>
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Especie</th>
                <th>Direccion</th>
                <th>Ocupacion</th>
                <th>edad</th>
            </tr>
            </thead>
            <!--"elemento"  es un nombre que nos referimos para poder utilizarlo en caso que sea un objeto -->
            <tr th:each="elemento : ${personaje_entity}">
                <td th:text="${elemento.id}"></td>
                <td th:text="${elemento.nombre}"></td>
                <td th:text="${elemento.especie}"></td>
                <td th:text="${elemento.direccion}"></td>
                <td th:text="${elemento.ocupacion}"></td>
                <td th:text="${elemento.edad}"></td>
            </tr>
        </table>
    </section>


    <section>
        <h2><a th:href="@{${producto}}">Productos</a></h2>
        <p>Aqui contiene la ruta: <span class="marcado" th:text=${producto_id}></span> donde se podra hacer las funciones crud como:<p/>
        <ul>
            <li>GET(Obtener)</li>
            <li>POST(Añadir)</li>
            <li>PUT(Actualizar)</li>
            <li>DELETE(eliminar)</li>
        </ul>
        <h2> Producto Tabla</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Id_Restaurante</th>
            </tr>
            </thead>
            <!--"elemento"  es un nombre que nos referimos para poder utilizarlo en caso que sea un objeto -->
            <tr th:each="elemento: ${producto_entity}">
                <td th:text="${elemento.id}"></td>
                <td th:text="${elemento.nombre}"></td>
                <td th:text="${elemento.precio}"></td>
                <td th:text="${elemento.id_restaurante}"></td>
            </tr>
        </table>
    </section>
</main>
</body>
</html>